<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Project</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
</head>
<body>
<div class="main-container">
    <h1 id="main-title">Update Project</h1>
    <form action="{{ url_for('update', id_data=data[0]) }}" method="POST" id="form">
        <div class="form-update">
            <label>Project Name</label> <br>
            <input value="{{ data[1] }}" type="text" name="project_name">
        </div>
        <div class="form-update">
            <label>In-Charge</label> <br>
            <input value="{{ data[2] }}" type="text" name="in_charge">
        </div>
        <div class="form-update">
            <label>Status</label> <br>
            <input value="{{ data[3] }}" type="text" name="status">
        </div>
        <button type="submit" class="update-button">Update</button>
    </form>
</div>
</body>
</html>
